{% extends "artist/base.html" %}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

 <!-- Start Contact Us  -->
 <div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>Add Arts</h2>
                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio justo, ultrices ac nisl sed, lobortis porta elit. Fusce in metus ac ex venenatis ultricies at cursus mauris.</p> {% endcomment %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cars">Choose Category:</label>
                                        <select class="form-control" name="category" id="cars" required data-error="Please enter your Category">
                                        <option value="">---select---</option>
                                        <option value="Wooden Items">Wooden Items</option>
                                        <option value="Sculptures">Sculptures</option>
                                        <option value="Paintings">Paintings</option>
                                        <option value="jewellery">jewellery</option>
                                        <option value="Handcrafts">Handcrafts</option>
                                        <option value="others">others</option>
                                        </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                          
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="name" name="description" placeholder="Description" required data-error="Please enter your description"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="price" placeholder="Price" required data-error="Please enter your price">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="file" placeholder="Image" id="email" class="form-control" name="image" required data-error="Please add a Image">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Register</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Cart -->
{% endblock %}